<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>Create an Account</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" type = "text/css" href = "css/style.css">        
        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/shopping.js"></script>
    </head>

    <body ng-controller="ProductController as prodCtrl">
        <div class ="account_buttons">
            <button type="button" ng-click="prodCtrl.viewHome()">Home</button>
            <button type="button" ng-click="prodCtrl.viewSignin()">Sign in</button>
        </div><br>
        
        <div class = "account_title">Create an Account</div><br>
        
        <form 
            ng-controller="CustomerController as custCtrl"
            ng-submit="custCtrl.registerCustomer(customer)"
            >
            <fieldset>
                <legend>Account Details</legend>
                
                <div class = "account_form" >
                    <label>User Name:</label>
                    <input type="text" ng-model="customer.username" required>

                    <br><br><label>First Name:</label>
                    <input type="text" ng-model="customer.firstName" required>

                    <br><br><label>Last Name:</label>
                    <input type="text" ng-model="customer.surname" required>

                    <br><br><label>Email:</label>
                    <input type="email" ng-model="customer.emailAddress" required>

                    <br><br><label>Password:</label>
                    <input type="password" ng-model="customer.password" required>
                </div>
                
                <div class="form_buttons">
                    <br><button type="submit">Create Account</button>
                </div>                
            </fieldset>
        </form>
    </body>
</html>

