/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/09/2020, 8:33:22 PM
    Author     : Admin
*/
html{
    background-color: #F0F8FF;
}
table{
    background-color: white;
}
button{
    background-color: white;
}

.account_form{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: right;
    font-size: 12px;

}            
.account_buttons{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-size: 12px;
}
.account_title{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black;
    background-color: grey;
    text-align: center;
    font-size: 40px;
}
legend{
      
}
.account_field{
    background-color: white;
    width: 300px;
    text-align: left;
    margin: auto;
}
.form_buttons{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 12px;
    margin: 0 auto;
    text-align: right;
}


.products_title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black;
    background-color: grey;
    text-align: center;
    font-size: 40px;
}
.product_buttons {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-size: 12px;
}
.product_buttons2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-size: 12px;
}
.product_table{
    font-family: "Comic Sans MS", cursive, sans-serif;

    border-collapse: separate;
    border-spacing: 30px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    height: 50px;               
}
td {
    border-bottom: 1px solid black;
    font-size: 14px;
}
th {
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}

.quantity_title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black;
    background-color: grey;
    text-align: center;
    font-size: 40px;
}
.quantity_buttons {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-size: 12px;
}
.quantity_table{
    font-family: "Comic Sans MS", cursive, sans-serif;

    border-collapse: separate;
    border-spacing: 30px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    height: 50px;
}

.quantity_field{
    background-color: white;
    width: 300px;
    text-align: left;
    margin: auto;
}

.signin_buttons{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-size: 12px;
}
.signin_title{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black;
    background-color: grey;
    text-align: center;
    font-size: 40px;
}
.signin_text{
    text-align: center;
}

.signin_field{
    background-color: white;
    width: 300px;
    text-align: right;
    margin: auto;
}

.center_buttons{
    text-align: center;
}

